.form__button {
    width: 50%;
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    font-family: inherit;
    border: 0;
  }
  
  .form__button:hover {
    opacity: .7;
  }
  
  /* Замена цвета внешней линии при фокусе кнопки */
  
  .form__button:focus {
    outline-color: #fff6c5;
  }
  
  .form__button[type="submit"] {
    background-color: blue;
  }
  
  .form__button:active{
    background-color: green;
  }

  .form__button[type="reset"] {
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
  }