.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

p, h1, h2, h3{
  margin: 0px;
  padding: 0px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  line-height: 96px;
  font-size: 102px;
  font-weight: 600; 
  align-self: center;
  margin-left: 64px;
  width: 730px;
}

.header__subtitle{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration{
  width: 100%;
  height: 100%;
}

.main-illustration_place_header{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description{
  display: flex;
  justify-content: center;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 100px 0px 0px;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  margin: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph{
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-child(3){
  margin-bottom: 0px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
}

.section-title{
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle{
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell{
  width: 250px;
  flex-direction: row; 
  margin-top: 60px;
}

.table__heading{
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text{
  line-height: 1.2; 
  font-size: 18px;
  font-weight: normal;
}

.table__text__foot{
  margin-top: 20px;
}

.feynman{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title{
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: absolute;
  top: 100px;
  z-index: 1;
}

.feynman__subtitle{
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.link_place_feynman{
  position: absolute;
  vertical-align: middle;
  right: 48px;
}

.feynman__link{
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__background{
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}

.kaufman{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  padding-bottom: 90px;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  color: white;
}

.table_theme_dark{
  padding-top: 0;
  z-index: 1;
}

.table__cell_theme_dark:nth-child(-n+5){
  margin-bottom: 0px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  z-index: 0;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
}

.footer{
  background-color: #1f1f1f;
  color: white;
  display: flex;
  box-sizing: border-box;
}

.footer__columns{
  width: 90%;
  min-height: 350px;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__column_content_copyright{
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  flex-direction: column;
}

.footer__author{
  margin: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.footer__column-links{
  padding: 20px 0px 16px;
  padding: 0px;
}

.column__link{
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.column__link:nth-child(3){
  margin-bottom: 0px;
}

li{
  list-style-type: none;
}